* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80");
    background-attachment: fixed;
    background-size: cover; 
}

.naslov {
    margin-right: 300px;
    font-size: 30px;
    color: white;
}

.form {
    font-size: 30px;
    color: white;    
}

.form input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    height: 20px;
}

.form button {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    width: 90px;
    padding: 5px;
    background-color: yellow;
    font-weight: 550;
    cursor: pointer;
}