* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80");
    background-size: 300%; 
    animation: move 30s infinite alternate;
}
@keyframes move {
    0% {
        background-position: left;
    }

    50% {
        background-position: right 50% top 15%;
    }

    100% {
        background-position: right 0px top 30%;
    }
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    width: 100%;
    background-color: black;
    img{
        height: 50px;
        
    }
}

.naslov {
    margin-right: 300px;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form {
    font-size: 30px;
    color: white;
    input {
        padding: 20px;
        border: none;
        border-radius: 20px;
        height: 20px;
        width: 350px;
        font-size: 20px;

    }    
    button {
        margin-top: 20px;
        outline: 3px solid black;
        border: none;
        border-radius: 20px;
        width: 150px;
        padding: 10px 20px;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: lightgreen;
        transition: color .25s;
        transition: background-color .25s;
        font-weight: 700;
        cursor: pointer;
    }
    button:hover{
        background-color: black;
        outline: 3px solid whitesmoke;
        color: lightgreen;
        cursor: pointer;
    }
    div {
        margin: 20px 0px;
        p:first-child {
            margin: 20px 0px;
        }
    }
}

.error-message{
    font-size: 18px;
    color: whitesmoke;
    border: none;
    outline: 3px solid red;
    background-color: black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    animation: shake 300ms;
}

.input-error {
    outline: 3px double red;
    box-shadow: 0px 0px 10px 5px red;
    animation: error 300ms;
}

@keyframes shake {
    25% {transform: translateX(300px); }
    50% {transform: translateX(-20px); }
    75% {transform: translateX(20px); }
}

@keyframes error {
    25% {transform: translateX(10px); }
    50% {transform: translateX(-10px); }
    75% {transform: translateX(10px); }
}



