* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section2 {
    background-color: lightgreen;
    flex-grow: 1;
    .search {
        width: 100%;
        padding: 20px;
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            border-radius: 25px;
            padding: 10px;
        }
        .single-create {
            border: 2px solid white;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            background-color: black;
            height: 50px;
            .single-card {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 3px solid white;
                width: 100px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .create-card {
                padding-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    input {
        border-radius: 25px;
        padding: 10px;
    }
    .companies-cards {
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
        padding: 50px;
        gap: 25px;
        .section-companies {
            display: flex;
            justify-content: center;
            border: 1px solid black;
            width: 300px;
            height: 150px;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            p {
                font-size: 12px
            }
        }
        .section-companies:hover {
            box-shadow: 0px 0px 10px 10px white;
        }
    }
    .buttons2 {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-bottom: 50px;
        margin-right: 100px;
    }
    button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        margin: 0px 20px;
        font-weight: 600;
        cursor: pointer;
    }
}