.create-report {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 100px - 50px);
    overflow: auto;
    background: rgb(34,61,195);
    background: linear-gradient(163deg, rgba(34,61,195,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 300%;
    animation: shift 10s infinite alternate;

    @keyframes shift {
        from {
            background-position: top left;
        }
        to {
            background-position: top right;
        }
    }
}
