* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.637);
}

.modal-content {
    position: relative;
    top: -150px;
    padding: 20px;
    border-radius: 25px;
    width: 700px;
    max-height: 566px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    > div:first-child {
        border-bottom: 1px solid grey;
        padding: 10px 0px;
        button {
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 20px;
            width: 40px;
            height: 40px;
            border-radius: 25px;
            border: 3px solid black;
            transition: color 0.25s;
            transition: border 0.25s;
            transition: background-color 0.25s;
            cursor: pointer;
        }
        button:hover {
            background-color: black;
            border: 3px solid lightgreen;
            color: lightgreen;
            cursor: pointer;
        }
    } 
    > div:nth-child(2) > div {
        display: flex;
        flex-direction: column;
        gap: 25px;
        &:last-child {
            padding-top: 35px;
            p {
                padding-bottom: 0px;
            }
            div {
                border: 1px solid gray;
                padding: 20px;
                border-radius: 25px;
                background-color: whitesmoke;
                transition: color 0.25s;
                transition: border 0.25s;
                transition: background-color 0.25s;

            }
            div:hover {
                background-color: black;
                border: 1px solid lightgreen;
                color: lightgreen;
            }
        }
        p {
            padding-bottom: 5px;
            text-decoration: none;
        }
    }
}