.report {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    background: rgb(34,61,195);
    background: linear-gradient(163deg, rgba(34,61,195,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 300%;
    animation: shift 10s infinite alternate;

    @keyframes shift {
        from {
            background-position: top left;
        }
        to {
            background-position: top right;
        }
    }
    
    .search {
        width: 100%;
        padding: 20px;
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            border-radius: 25px;
            padding: 10px;
        }
        .single-create {
            border: 2px solid white;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            background-color: black;
            height: 50px;
            .single-card {
                display: flex;
                justify-content: center;
                align-items: center;
                // border-right: 3px solid white;
                width: 100px;
                transition: color 0.25s;
                transition: border 0.25s;
                transition: background-color 0.25s;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:hover {
                    background-color: lightgreen;
                    border: 3px solid black;
                    color: lightgreen;
                    border-radius: 25px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 700;
                    }
                }
            }
            .create-card {
                padding-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                transition: color 0.25s;
                transition: border 0.25s;
                transition: background-color 0.25s;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:hover {
                    background-color: lightgreen;
                    border: 3px solid black;
                    color: lightgreen;
                    border-radius: 25px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: black;
                        font-weight: 700;
                    }
                }
            }
            
        }
    }
    .list-of-reports {
        // border-bottom: 3px solid white;
        padding: 0px 20px;
        overflow: auto;
        margin: 20px 10px;
        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border: 3px solid black;
            border-radius: 25px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
            border-radius: 25px;
            border: 3px solid white;
        }
    }
}
.interview-list {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    // margin: 20px 10px;
    transition: outline-offset 0.25s;
    > div {
        width: 200px;
        // height: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 20px 0px;
        > div:first-child {
            color: white;
        }
    }
    div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: position 1s;
        width: 100px;
        img {
            height: 50px;
            transition: margin-right 0.15s;
        }
        img:hover {
            margin-right: 40px;
        }
        &:before {
            content:"";
            position: absolute;
            transition: margin-right 0.15s;
        }
        &:hover::before {
            content: "More info";
            position: absolute;
            // border: 3px solid black;
            margin-right: 10px;
            left: 120px;
        }
    }
    div:nth-child(3) {
        width: 300px;
    }
    div:last-child{
        justify-content: center;
        button {
            padding: 0px 10px;
            border: none;
            height: 40px;
            border-radius: 25px;
            border: 3px solid black;
            text-transform: uppercase;
            transition: color 0.25s;
            transition: border 0.25s;
            transition: background-color 0.25s;
            cursor: pointer;
        }
        button:hover {
            background-color: black;
            border: 3px solid whitesmoke;
            color: lightgreen;
            cursor: pointer;
        }
    }
    &:hover {
        outline-offset: -10px;
        outline: 3px solid whitesmoke;
        border-radius: 25px;
    }
}