* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.report {
    background-color: aqua;
    flex-grow: 1;
}
.interview-list {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.interview-list div {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}

.interview-list div:last-child {
    text-align: center;
    background-color: brown;
    display: block;
    padding-top: 15px;
}