* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.report {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: lightgreen;
    .search {
        width: 100%;
        padding: 20px;
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            border-radius: 25px;
            padding: 10px;
        }
        .single-create {
            border: 2px solid white;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            background-color: black;
            height: 50px;
            .single-card {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 3px solid white;
                width: 100px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
            .create-card {
                padding-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .list-of-reports {
        border: 3px solid gray;
        padding: 0px 20px;
    }
}
.interview-list {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 20px 10px;
    > div {
        // width: 150px;
        // height: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 20px 0px;
        > div:first-child {
            color: gray;
        }
    }
    div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: position 1s;
        img {
            height: 50px;
        }
        // &:before {
        //     content:"";
        // }
        // &:hover::before {
        //     content: "More info";
        //     position: relative;
        //     left: 20px;
        // }
    }
    div:last-child{
        justify-content: center;
        button {
            padding: 0px 10px;
            border: none;
            height: 40px;
            border-radius: 25px;
            border: 3px solid black;
            text-transform: uppercase;
            transition: color 0.25s;
            transition: border 0.25s;
            transition: background-color 0.25s;
            cursor: pointer;
        }
        button:hover {
            background-color: black;
            border: 3px solid whitesmoke;
            color: lightgreen;
            cursor: pointer;
        }
    }
}