* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heder {
    width: 100%;
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    margin-right: 20px;
}