.footer {
    font-size: 20px;
    text-align: center;
    color: black;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 50px;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}